.hero-section {
    background: url("../img/headerC.png") 50% no-repeat;
    background-size: cover;
    height: 80vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-section {
    background: url("../img/footer.png") 60% no-repeat;
    background-size: cover;
    height: 50vh;
  }

  .ingredients, .recipes, p, ul, #search_submit, input#search, div#postRecipe {
    font-family: 'Montserrat Alternates', sans-serif;
  }

  section {
    align-items: center;
  }

  div#postRecipe {
    margin: 10px;
    text-align: center;
    font-size: 23px;
  }

  .card>#postRecipe>div>img {
    border: outset 6px;
    padding: 5px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 20%;
    border-color: #ff7b88;
  }

  .container {
    display: block;
    margin: 10px;
  }

  .card-divider {
      background-color: #f4b4b7 !important;
  }

  li * {
    float: left;
  }
  
  li, h3 {
    clear: both;
    list-style: none;
  }
  
  input, button {
    outline:darksalmon;
  }

  input#search {
    margin: 10px;
    width: 600px;
  }

  #search_submit {
    background: none;
    border: 0px;
    color: rgb(255, 89, 0);
    font-size: 15px;
    margin: 10px;
  }

  button {
    background: none;
    border: 0px;
    color: rgb(255, 89, 0);
    font-size: 15px;
    width: 60px;
    margin: 10px 0 0;
    cursor: pointer;
  }
  
  /* New item */

  label[for='new-item'] {
    display: block;
    margin: 10px;
  }
  input#new-item {
    float: left;
    width: 500px;
  }
  
  p > button:hover, button:hover, #search_submit:hover {
    color: #ff7b88;
  }
  
  /* Item list */

  li {
    overflow: hidden;
    padding: 20px 0;
  }

  li > input[type="checkbox"] {
    margin: 0 10px;
    top: 15px;
    position: relative;
  }

  li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }

  li >  input[type="text"] {
    width: 226px;
  }

  li > .delete:hover {
    color: #CF2323;
  }
  
  /* Edit Item */
  
  ul li input[type=text] {
    display:none;
  } 
  
  ul li.editMode input[type=text] {
    display:block;
  }
  
 ul li.editMode label {
    display:none;
  }

  
 
  